h1[b-zl06m6617w] { 
    font-family: Jost, Tahoma, Geneva, Verdana, sans-serif;
}

.content-wrapper[b-zl06m6617w] {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100vh;
}

.yellow-bg[b-zl06m6617w] {
    background-color: #FFD639;
    padding: 75px 50px;
    position: absolute;
    right: 50%;
    top: 50%;
    transform: translateY(-50%);
}

.yellow-bg .content[b-zl06m6617w] {
    width: 300px;
    display: flex;
    flex-direction: column;
}

.grey-bg[b-zl06m6617w] {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: #CBCFD1;
    width: 70vw;
    height: 80vh;
    z-index: -1;
}