.bg-dark-grey[b-u44xv73ieq] {
    background: #6A736F;
}
.top-btn[b-u44xv73ieq] {
    padding: 15px 10px;
    text-align: center;
    color: #ffffff !important;
    font-weight: 500;
    text-decoration: none;
    border-radius: 5px;
}
.top-btn:hover[b-u44xv73ieq] {
    text-decoration: none;
    color: #ffffff !important;
}
.bg-grey[b-u44xv73ieq] {
    background: #F0F0F0;
    border-radius: 5px;
}
.excerpt[b-u44xv73ieq] {
    border-left: 2px solid black;
    padding: 10px;
}
.card[b-u44xv73ieq] {
    padding: 20px 30px;
}