.btn[b-45ccykq1tg] {
    padding: 20px 85px;
}
.top-box[b-45ccykq1tg] {
    border-radius: 10px;
    border: 1px solid #000000;
    padding: 40px;
}
.content-grey[b-45ccykq1tg] {
    background: #F0F0F0;
    padding: 50px 70px;
}