@page "/applications"
@attribute [Authorize]

<div>
    <div class="row mb-5">
        <h1 class="mb-5">Your pending applications</h1>
        <NavLink href="/" class="top-btn bg-dark-grey white shadow">
            Go to all theses
        </NavLink>
    </div>
    <div class="row">
        <ThesisApplication accepted=true />
        <ThesisApplication />
        <ThesisApplication />
    </div>
</div>