@page "/"
@attribute [Authorize]

<ThesisPosts />

<div>
    <div class="row mb-5">
        <h1 class="mb-5">Find a thesis</h1>
        <NavLink href="/applications" class="top-btn bg-yellow">
            Go to applied theses
        </NavLink>
    </div>
    <div class="row">
        <ThesisComponent Id="1" />
        <ThesisComponent Id="2" />
        <ThesisComponent Id="3" />
    </div>
</div>
