@page "/"

<div>
    <div class="row mb-5">
        <h1 class="mb-5">Find a thesis</h1>
        <NavLink href="/applications" class="top-btn yellow">
            Go to applied theses
        </NavLink>
    </div>
    <div class="row">
        <Thesis />
        <Thesis />
        <Thesis />
    </div>
</div>