@page "/"
@* @inject Client.Service.IThesesService ThesesService *@
@attribute [Authorize]

<div>
    <div class="row pb-4">
        <h1 class="mb-5">Find a thesis</h1>
        <NavLink href="/applications" class="top-btn bg-yellow shadow">
            Go to applied theses
        </NavLink>
    </div>
    <div class="row pt-2">
        <ThesisComponent Id="1" />
        <ThesisComponent Id="2" />
        <ThesisComponent Id="3" />
    </div>
</div>