@page "/login"
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager

<PageTitle>Login page</PageTitle>

<div class="content-wrapper d-none d-lg-block">
    <div class="grey-bg">
        <div class="grey-content">
            <div class="row justify-content-center d-flex" style>
                <div class="col-md-5 d-flex flex-column justify-content-center">
                    <h2 class="jost-300 about">About</h2>
                    <h3 class="h1 jost-300 headline">Thesis<span style="font-weight: 800" class="jost-500">Bank</span>
                    </h3>
                    <p class="roboto-500">ThesisBank is a matching service that allows students to connect with
                        potential supervisors for theses. </p>
                    <p>The purpose of ThesisBank is to provide student the awareness over possible thesis
                        collaborations, as well as to provide teachers with the information necessary for approve such a
                        request from a student</p>
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="yellow-bg">
            <div class="content">
                <form>
                    <h1 class="mb-4 jost-400 login">Login</h1>
                    <div class="row">
                        <a class="btn jost-300 mt-3" href="authentication/login">Login</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="d-block d-lg-none">
    <div class="container">
        <div class="row" style="background-color: #CBCFD1">
            <div class="p-5">
                <h2 class="jost-300 about">About</h2>
                <h3 class="h1 jost-300 headline" style="font-size: 40px">Thesis<span style="font-weight: 800"
                        class="jost-500">Bank</span></h3>
                <p class="roboto-500">ThesisBank is a matching service that allows students to connect with potential
                    supervisors for theses. </p>
                <p>The purpose of ThesisBank is to provide student the awareness over possible thesis collaborations, as
                    well as to provide teachers with the information necessary for approve such a request from a student
                </p>
            </div>
        </div>
        <div class="row">
            <div class="content p-5" style="background-color: #FFD639">
                <form>
                    <h1 class="mb-4 jost-400 login">Login</h1>
                    <a class="btn jost-300 mt-3" href="authentication/login" style="width: 250px">Login</a>
                </form>
            </div>
        </div>
    </div>
</div>


<style>
    .main-col {
        width: 100% !important;
    }
</style>


@code {
    private async Task BeginLogout(MouseEventArgs args)
    {
        await SignOutManager.SetSignOutState();
        Navigation.NavigateTo("/login");
    }
}