h1 { 
    font-family: Jost, Tahoma, Geneva, Verdana, sans-serif;
}

.about {
    font-size: 45px;
}

.headline {
    font-size: 90px;
}

.content-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100vh;
}

.yellow-bg {
    background-color: #FFD639;
    padding: 105px 65px;
    position: absolute;
    right: 55%;
    top: 50%;
    transform: translateY(-50%);
}

.yellow-bg .content {
    width: 250px;
    display: flex;
    flex-direction: column;
}

.grey-bg {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: #CBCFD1;
    width: 65vw;
    height: 80vh;
    z-index: -1;
    display: flex;
}

.grey-content {
    width: 100%;
    display: flex;
}

.login {
    font-size: 55px !important;
}

.btn {
    background: #6A736F;
    border: 1px solid #000;
    color: #fff;
    border-radius: 10px;
}