@page "/login"
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager

<PageTitle>Login page</PageTitle>

<div class="content-wrapper">
    <div class="grey-bg">
        <div class="grey-content">
            <div class="row justify-content-center d-flex" style>
                <div class="col-sm-5 d-flex flex-column justify-content-center">
                    <h2 class="jost-300 about">About</h2>
                    <h3 class="h1 jost-300 headline">Thesis<span style="font-weight: 800" class="jost-500">Bank</span></h3>
                    <p class="roboto-500">In et mi quam. Nunc pharetra consectetur aliquam. Praesent neque risus, molestie non vulputate et, sollicitudin venenatis quam. Suspendisse aliquam justo nec felis malesuada bibendum. </p>
                    <img src="images/wireframe-image-icon.png"
                    class="img-fluid mb-3">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis, excepturi praesentium eos ut autem, et, tenetur a magnam omnis obcaecati earum. Aliquid et voluptatum aperiam itaque nemo, beatae ea ducimus.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="yellow-bg">
            <div class="content">
                <form>
                    <h1 class="mb-4 jost-400 login">Login</h1>
                    <div class="row">
                        <a class="btn jost-300 mt-3" href="authentication/login">Login</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@code {
    private async Task BeginLogout(MouseEventArgs args){
        await SignOutManager.SetSignOutState();
        Navigation.NavigateTo("/login");
    }
}