@page "/thesis/{id:int?}"
@using Entities
@using Core
@inject HttpClient Http
@attribute [Authorize]

<div class="row justify-content-center">
    <div class="col-sm-10">
        <h1>@Thesis.Name</h1>
        <div class="top-box mt-5">
            <div class="row">
                <div class="col d-flex flex-column justify-content-space">
                    <h2 class="h3">Professor @Thesis.Teacher.Name</h2>
                    <h3 class="h5 fw-light" style="margin-bottom: 0; padding-top: 7px">cognition, iq, social pshycology</h3>
                </div>
                <div class="col d-flex justify-content-end">
                    <div>
                        <button class="btn btn-lg bg-yellow">Apply</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="content content-grey mt-5">
           @Thesis.Description 
        </div>
    </div>
</div>

@code {

    private ThesisDTO? Thesis;

    [Parameter]
    public int? Id { get; set; } = 0;

    protected override async Task OnInitializedAsync()
    {
        Thesis = await Http.GetFromJsonAsync<ThesisDTO>("api/Thesis/" + Id);
    }
}