@inherits LayoutComponentBase
@inject NavigationManager _navManager

<PageTitle>ThesisBank</PageTitle>

@if (!_navManager.Uri.Contains("/login")) {
<div class="top-row-loggedin d-flex align-items-center" style="margin-bottom: 100px">
    <div class="container">
        <div class="row flex-direction-row justify-content-space">
            <div class="col align-items-center d-flex">
                <NavLink href="/">
                    <h1 class="h4 roboto-100" style="margin-bottom: 0;">Thesis<span style="font-weight: 700">Bank</span></h1>
                </NavLink>
            </div>
            <div class="col justify-content-end align-items-center d-flex">
                <LoginDisplay />
            </div>
        </div>
    </div>
</div>
}
<div class="row">
    <main>
        <div class="container">
            <div class="row justify-content-center pt-5">
                <div class="col-sm-8">
                    <div class="col">
                        @Body
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>