@using Entities
@* @inject Client.Service.IThesesService ThesesService *@
@inject HttpClient Http



<p>List of thesis</p>
@foreach (var thesis in Theses) {
    <div>
        <h3>@thesis.Name</h3>
    </div>
}

@code {

    private List<Thesis> Theses = new List<Thesis>();

    protected async Task OnIntializedAsync()
    {
        Theses = await Http.GetFromJsonAsync<List<Thesis>>("api/Thesis");
    }
}