<div class="card bg-grey mb-4 mt-3 border-0 radius-5">
    <div class="row thesis mb-4">
        <div class="col-sm-12">
            <h2 class="headline">@title</h2>
            <h3>Professor @teacher</h3>
            <h4 class="text-muted h6">@keywords</h4>
            <div class="excerpt">
                <p>@excerpt</p>
            </div>
        </div>
    </div>
</div>

@code {

    // TODO: Parameters must be replaced with Thesis object over time
    
    [Parameter]
    public string title { get; set; } = "Human cognition and outer impact";

    [Parameter]
    public string teacher { get; set; } = "Stella Bony";

    [Parameter]
    public string keywords { get; set; } = "cognition, iq, social pshycology";

    [Parameter]
    public string excerpt { get; set; } = "Coginition has now become a more important factor when discussing solutions in IT. Seeking to find out how the outer impact influences this area.";
    
}