<NavLink href=@ThesisLink class="thesis">
    <div class="card bg-grey mb-4 mt-4 border-0 radius-5">
        <div class="row mb-3">
            <div class="col-sm-12">
                <h2 class="headline jost-500">@title</h2>
                <h3 class="professor">Professor @teacher</h3>
                <h4 class="h6 keywords roboto-400">@keywords</h4>
                <div class="excerpt">
                    @((MarkupString)excerpt)
                </div>
            </div>
        </div>
    </div>
</NavLink>

@code {

    public string ThesisLink = "";

    [Parameter]
    public int Id { get; set; } = 0;

    // TODO: Parameters must be replaced with Thesis object over time
    
    [Parameter]
    public string title { get; set; } = "";

    [Parameter]
    public string teacher { get; set; } = "";

    [Parameter]
    public string keywords { get; set; } = "";

    [Parameter]
    public string excerpt { get; set; } = "";    

    protected override void OnParametersSet()
    {
        ThesisLink = $"/thesis/{Id}";
    }
}