/* /Pages/Applications.razor.rz.scp.css */
.bg-dark-grey[b-u44xv73ieq] {
    background: #6A736F;
}
.top-btn[b-u44xv73ieq] {
    padding: 15px 10px;
    text-align: center;
    color: #ffffff !important;
    font-weight: 500;
    text-decoration: none;
    border-radius: 5px;
}
.top-btn:hover[b-u44xv73ieq] {
    text-decoration: none;
    color: #ffffff !important;
}
.bg-grey[b-u44xv73ieq] {
    background: #F0F0F0;
    border-radius: 5px;
}
.excerpt[b-u44xv73ieq] {
    border-left: 2px solid black;
    padding: 10px;
}
.card[b-u44xv73ieq] {
    padding: 20px 30px;
}
/* /Pages/index.razor.rz.scp.css */
.top-btn[b-qhngt446eb] {
    color: #000000 I !important;
}

.top-btn:hover[b-qhngt446eb] {
    color: #000000 !important;
    text-decoration: underline;
}
/* /Pages/Login.razor.rz.scp.css */
h1[b-tshmvo15pj] { 
    font-family: Jost, Tahoma, Geneva, Verdana, sans-serif;
}

.about[b-tshmvo15pj] {
    font-size: 45px;
}

.headline[b-tshmvo15pj] {
    font-size: 90px;
}

.content-wrapper[b-tshmvo15pj] {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100vh;
}

.yellow-bg[b-tshmvo15pj] {
    background-color: #FFD639;
    padding: 105px 65px;
    position: absolute;
    right: 55%;
    top: 50%;
    transform: translateY(-50%);
}

.yellow-bg .content[b-tshmvo15pj] {
    width: 250px;
    display: flex;
    flex-direction: column;
}

.grey-bg[b-tshmvo15pj] {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: #CBCFD1;
    width: 65vw;
    height: 80vh;
    z-index: -1;
    display: flex;
}

.grey-content[b-tshmvo15pj] {
    width: 100%;
    display: flex;
}

.login[b-tshmvo15pj] {
    font-size: 55px !important;
}

.btn[b-tshmvo15pj] {
    background: #6A736F;
    border: 1px solid #000;
    color: #fff;
    border-radius: 10px;
}
/* /Pages/ThesisPage.razor.rz.scp.css */
.btn[b-45ccykq1tg] {
    padding: 20px 85px;
}
.top-box[b-45ccykq1tg] {
    border-radius: 10px;
    border: 1px solid #000000;
    padding: 40px;
}
.content-grey[b-45ccykq1tg] {
    background: #F0F0F0;
    padding: 50px 70px;
}
/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-jyuqzccoeo] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-jyuqzccoeo] {
    flex: 1;
}

.sidebar[b-jyuqzccoeo] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-jyuqzccoeo] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-jyuqzccoeo]  a, .top-row[b-jyuqzccoeo]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-jyuqzccoeo]  a:hover, .top-row[b-jyuqzccoeo]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-jyuqzccoeo]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-jyuqzccoeo] {
        display: none;
    }

    .top-row.auth[b-jyuqzccoeo] {
        justify-content: space-between;
    }

    .top-row[b-jyuqzccoeo]  a, .top-row[b-jyuqzccoeo]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-jyuqzccoeo] {
        flex-direction: row;
    }

    .sidebar[b-jyuqzccoeo] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-jyuqzccoeo] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-jyuqzccoeo]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-jyuqzccoeo], article[b-jyuqzccoeo] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Shared/ThesisApplication.razor.rz.scp.css */
.card[b-u9iq8wx9o4] {
    border-radius: 10px !important;
}

.yellow[b-u9iq8wx9o4] {
    background: #FFD639;
}

.btn[b-u9iq8wx9o4] {
    padding: 12px 0;
    border-radius: 10px;
}

.btn-accept[b-u9iq8wx9o4] {
    background: #0095068A;
    color: white;
}

.btn-cancel[b-u9iq8wx9o4] {
    background: #E45A5A;
    color: white;
}

.btn-cancel[b-u9iq8wx9o4] {
    width: 100%;
}

.top-btn[b-u9iq8wx9o4] {
    padding: 15px 10px;
    text-align: center;
    color: black;
    font-weight: 700;
    text-decoration: none;
    border-radius: 5px;
}

.top-btn:hover[b-u9iq8wx9o4] {
    text-decoration: none;
    color: black;
}

.bg-grey[b-u9iq8wx9o4] {
    background: #F0F0F0;
    border-radius: 5px;
}

.excerpt[b-u9iq8wx9o4] {
    border-left: 2px solid black;
    padding: 10px;
}

.card[b-u9iq8wx9o4] {
    padding: 20px 30px;
}
/* /Shared/ThesisComponent.razor.rz.scp.css */
.yellow[b-gj8prw9vx3] {
    background: #FFD639;
}
.btn[b-gj8prw9vx3] {
    padding: 12px 0;
    border-radius: 10px;
}
.btn-apply[b-gj8prw9vx3] {
    background: #0095068A;
    color: white;
}
.btn-cancel[b-gj8prw9vx3] {
    background: #E45A5A;
    color: white;
}
.top-btn[b-gj8prw9vx3] {
    padding: 15px 10px;
    text-align: center;
    color: black;
    font-weight: 700;
    text-decoration: none;
    border-radius: 5px;
}
.top-btn:hover[b-gj8prw9vx3] {
    text-decoration: none;
    color: black;
}
.bg-grey[b-gj8prw9vx3] {
    background: #F0F0F0;
    border-radius: 5px;
}
.excerpt[b-gj8prw9vx3] {
    border-left: 2px solid black;
    padding: 10px;
    margin-left: 40px;
    font-size: 14px;
    font-weight: 400;
}
.card[b-gj8prw9vx3] {
    padding: 20px 30px;
}
